/* || VARIABLES */

:root {
    /* COLORS */
    --BGCOLOR: #0F172A;
    --BORDER-COLOR: #FFF;
    --COLOR: #FFF;
    --ERROR: firebrick;
    --INACTIVE: lightgray;
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: rgba(245, 245, 245, 0.9);
    --CONTACT-BGCOLOR: hsla(240, 64%, 27%, 0.65);
    --STATUS-COMPLETE: limegreen;
    --STATUS-OPEN: firebrick;
    --TABLE-BGCOLOR: #FFF;
    --TABLE-COLOR: #000;
}

/* GENERAL */

/* START SITE */

main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.8) 45%, #000 100%),
    url(./img/background.jpg);
    width: 100%;
    min-height: 100vh;
}

.title-container {
    padding: 10rem;
}

.mainTitle {
    text-align: center;
    font-size: 5rem;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* UTILITY CLASSES */

.error {
    color: var(--ERROR);
}

.error a:hover,
.error a {
    color: var(--ERROR);
    text-decoration: underline;
}