/* COLORS */
:root {
    --BUTTON: #64a19d;
    --ERROR: #ff0000;
}

/* GENERAL */

.offscreen {
    position: absolute;
    overflow: hidden;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* START SITE */

.home-page {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.8) 45%, #000 100%),
    url(./img/background.jpg) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}


.main-title {
    padding-top: 10rem;
    text-align: center;
    font-size: 6.5rem;
    letter-spacing: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.03));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.login-btn {
    background-color: var(--BUTTON) !important;
    border: none !important;
    padding: 1rem !important;
    width: 10rem !important;
    margin: 3rem auto !important;
    letter-spacing: 0.2rem;
    font-size: 90% !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* UTILITY CLASSES */

.error {
    color: var(--BUTTON);
}

.error a:hover,
.error a {
    color: var(--ERROR);
    text-decoration: underline;
}